BASE_URL=url_path_for_base_page

SECRET_KEY=app_secret_key
DEBUG=app_debug_state

# Postgres database params
NAME=name_of_database
USER=name_of_db_user
PASSWORD=password
HOST=host
PORT=port

# API keys
BOT_API_KEY=API_KEY_for_telegram_bot